.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
  }
  

@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css'
